.admonition
  background-color: #FAFAFA
  background-repeat: no-repeat
  background-position: 8px 10px
  border: 1px solid #F2F2F2
  color: #666666
  padding: 3px 3px 3px 27px

.caution
  background-image: url(/images/admon/caution.png)

.important
  background-image: url(/images/admon/important.png)

.note
  background-image: url(/images/admon/note.png)

.tip
  background-image: url(/images/admon/tip.png)

.warning
  background-image: url(/images/admon/warning.png)

