<!DOCTYPE html>
<html lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{{ title }} · {{ metadata.title }}</title>
  <style>{% include "node_modules/@picocss/pico/css/pico.css" %}</style>
  <style>{% include "style.css" %}</style>
  <style>{% getBundle "css" %}</style>

</head>
<body>
  <header class="masthead">
    <div class="container">
      <h3 class="masthead-title">
        <a href="/" title="Home">{{ metadata.title }}</a>
        <small>{{ metadata.tagline }}</small>
      </h3>
    </div>
  </header>
  <main>
    <div class="container">
{{ content }}
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="copyright">Copyright © {{ "now" | date: "%Y" }} <strong>{{ metadata.author }}</strong></div>
      <div class="social">
        <a rel="me" href="https://github.com/{{ metadata.github }}" aria-label="GitHub" title="GitHub">
          <img src="/images/github.svg" alt="" width="16" height="16">
        </a>
        <a rel="me" href="https://njump.me/{{ metadata.nip05 }}" aria-label="Nostr" title="Nostr">
          <img src="/images/nostr.svg" alt="" width="16" height="16">
        </a>
        <a rel="me" href="https://linkedin.com/in/{{ metadata.linkedin }}" aria-label="LinkedIn" title="LinkedIn">
          <img src="/images/linkedin.svg" alt="" width="16" height="16">
        </a>
      </div>
    </div>
  </footer>
</body>
</html>
