.admonition
  background-color: #FAFAFA
  background-repeat: no-repeat
  background-position: 8px 10px
  border: 1px solid #F2F2F2
  padding: 12px 15px 5px 40px
  margin: 10px 0
  border-radius: 5px
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
  
  h3
    margin: 0

.caution
  background-image: url(/images/admon/caution.png)
  background-color: #FFFFF5
  border-color: #FFFFAF

.important
  background-image: url(/images/admon/important.png)
  background-image: url(/images/admon/warning.png)
  border-color: #FFAFAF

.note
  background-image: url(/images/admon/note.png)

.tip
  background-image: url(/images/admon/tip.png)
  background-color: #F5FFF5
  border-color: #AFFFAF

.warning
  background-color: #FFF5F5
  background-image: url(/images/admon/warning.png)
  border-color: #FFAFAF
