
@font-face
  :font-family DejaVuSans
  :font-style normal
  :font-weight normal
  :src local('DejaVu Sans'), url('/fonts/DejaVuSans.ttf') format('truetype')

@font-face
  :font-family DejaVuSans
  :font-style normal
  :font-weight bold
  :src local('DejaVu Sans Bold'), url('/fonts/DejaVuSans-Bold.ttf') format('truetype')

@font-face
  :font-family DejaVuSansMono
  :font-style  normal
  :font-weight normal
  :src local('DejaVu Sans Mono'), url('/fonts/DejaVuSansMono.ttf') format('truetype')

@font-face
  :font-family DejaVuSansMono
  :font-style normal
  :font-weight bold
  :src local('DejaVu Sans Mono Bold'), url('/fonts/DejaVuSansMono-Bold.ttf') format('truetype')
