
body
  :margin 0
  :padding 0
  :font 10pt/1.4em sans-serif
  :color #555
  :background #FFF url(/images/bg.jpg) repeat-x
  :text-align center


#wrap
  :width 790px
  :margin 0 auto


a
  :background inherit
  :color #72A545
  :text-decoration none

  &:hover
    :background inherit
    :color #006699
    :text-decoration underline


h1
  :font bold 1em sans-serif
  :font-size 1.4em
  :color #65944A
  :margin 10px 15px


h2
  :font bold 1em sans-serif
  :font-size 1.2em
  :margin 10px 15px


h3
  :font bold 1em sans-serif
  :font-size 1.2em
  :margin 10px 15px


p
  :margin 10px 15px


ul, ol
  :margin 10px 30px
  :padding 0 15px


img
  :border 1px solid #DADADA
  :padding 5px
  :background #FAFAFA

  &.float-right
    :margin 5px 0px 5px 15px

  &.float-left
    :margin 5px 15px 5px 0px


acronym
  :cursor help
  :border-bottom 1px solid #777


blockquote
  :margin 15px
  :padding 0 0 0 20px
  :background-color #FAFAFA
  :background-position 8px 10px
  :border 1px solid #f2f2f2
  :border-left 3px solid #72A545
  :font bold 1.2em/1.5em sans-serif
  :color #666666


table
  :border-collapse collapse
  :margin 10px 15px


th
  :background #74A846
  :height 29px
  :padding-left 11px
  :padding-right 11px
  :color #fff
  :text-align left
  :border-left 1px solid #B6D59A
  :border-bottom solid 2px #FFF

  strong
    :color #fff

  &.first
    :border-left 0px


tr
  :height 30px

  &.row-a
    :background #F8F8F8

  &.row-b
    :background #EFEFEF


td
  :padding-left 11px
  :padding-right 11px
  :border-left 1px solid #FFF
  :border-bottom solid 1px #ffffff

  &.first
    :border-left 0px


form
  :margin 10px 15px
  :padding 0
  :border 1px solid #f2f2f2
  :background-color #FAFAFA


label
  :display block
  :font-weight bold
  :margin 5px 0


// input
//   :padding 2px
//   :border 1px solid #eee
//   :font normal 1em sans-serif
//   :color #777

//   &.button
//     :margin 0
//     :font bold 1em Arial, Sans-serif
//     :background #FFF url(/images/gradientbg.jpg) repeat-x
//     :padding 2px 3px
//     :color #333
//     :border 1px solid #DADADA


textarea
  :width 400px
  :padding 2px
  :font normal 1em sans-serif
  :border 1px solid #eee
  :height 100px
  :display block
  :color #777


.searchform
  :background-color transparent
  :border none
  :margin 0
  :padding 0

  p
    :margin 10px
    :padding 0

  input
    &.textbox
      :width 130px
      :color #333
      :height 20px
      :padding 2px
      :vertical-align top

    &.button
      :font bold 12px Arial, Sans-serif
      :color #333
      :width 60px
      :height 26px
      :border 1px solid #DADADA
      :padding 3px 5px
      :vertical-align top


#header
  :height 70px
  :margin 0 15px
  :position relative

  h1#logo
    :position absolute
    :font bold 45px sans-serif
    :letter-spacing -2px
    :color #FFF
    :margin 0
    :padding 0
    :top 2
    :left 0px

    a
      :text-decoration none
      :color #FFF

  ul
    :position absolute
    :right -5px
    :top 21px
    :font bolder 15px sans-serif
    :color #FFF
    :list-style none
    :margin 0
    :padding 0

  li
    :display inline

    a
      :float left
      :display block
      :padding 3px 12px
      :color #FFF
      :background-color #333
      :text-decoration none
      :border-right 1px solid #272727

      &:hover, &#current
        :background #65944A
        :color #FFF


#content
  :width 760px
  :text-align left
  :padding 0
  :margin 0 auto

  h1
    :border-bottom 1px solid #f2f2f2
    :font bold 14pt sans-serif
    :margin 0

  h2
    :border-bottom 1px solid #f2f2f2
    :font normal 14pt sans-serif
    :margin 0

  ul li
    :list-style-image url(/images/bullet.gif)
    
  p
    :text-align justify


#content-wrap
  :clear both
  :float left
  :width 100%
  :background #FFF
  :padding-top 15px


#main
  :float left
  :width 68%
  :margin 0 0 10px 0
  :padding 0


ul.toc
  :background none repeat scroll 0 0 #F5F5F5
  :border 1px solid #EFEDED
  :margin 10px 0 20px
  :padding 13px 15px
  
  li
    :list-style none !important


.post
  :margin 0 0 10px 0
  :padding 0
  :background #FFF url(../images/gradientbg.jpg) repeat-x
  :border 1px solid #EFEDED

  h1
    :font normal 14pt sans-serif !important
    :margin 0 0 0 10px !important
    :padding 10px 0px 0px 5px !important

  .post-footer
    :background-color #FAFAFA
    :border 1px solid #f2f2f2
    :padding 5px
    :margin-top 20px
    :font-size 95%

    .date
      :background url(/images/clock.gif) no-repeat 0 center
      :padding-left 20px
      :margin 0 10px 0 5px

    .comments
      :background url(/images/comment.gif) no-repeat 0 center
      :padding-left 20px
      :margin 0 10px 0 5px

    .readmore
      :background url(/images/page.gif) no-repeat 0 center
      :padding-left 20px
      :margin 0 10px 0 5px


#footer
  :border-top 1px solid #EAEAEA
  :font 8pt sans-serif
  :clear both

  a
    :color #777

    &:hover
      :color #333


.float-left
  :float left


.float-right
  :float right


.align-left
  :text-align left


.align-right
  :text-align right !important


.clear
  :clear both


.gray
  :color #BFBFBF
