
//.gsc-resultsHeader, .gs-visibleUrl, .gsc-trailing-more-results, .gs-watermark
//  :display none

.gsc-branding, .gsc-resultsHeader, .gsc-tabsAreaInvisible, .gs-visibleUrl-short, .gs-watermark
  :display none

.gsc-result
  padding: 0.5em 0

table.gsc-search-box
  margin: auto

.gsc-search-box
  border: none
  td
    border: none

.gsc-input
  width: 200px

.gsc-branding
  color: black
  font-style: italic
  font-size: 70%
  border: none
  margin: auto
  padding: 0

td.gsc-branding-img
  text-align: left

.gsc-cursor-box
  :text-align center

.gsc-cursor-page
  display: inline
  padding-right: 7px
  &:hover
    cursor: pointer

.gsc-cursor-current-page
  font-weight: bold
