
aside
  float: right
  width: 234px
  margin: 15px 0
  padding: 0

  h1
    :color #DD4814
    :font-weight normal !important
    :font-size 120% !important
    :padding 10px 0px 5px 10px
    :margin 0

  ul.sidemenu
    :list-style none
    :margin 0 0 10px 0
    :padding 0
    :background #F2F2F2

    li
      :margin 0px 10px
      :list-style none !important
      :padding .3em 0 .3em 10px
      :border-bottom 1px dashed #D4D4D4

      &.top
        :border-top 1px dashed #D4D4D4

      &:hover
        :padding .3em 0 .3em 8px
        :border-left 2px solid  #DD4814

    a
      :color #333

      &:hover
        :color #DD4814


.sidebox
  :background #F5F5F5
  :border 1px solid #EFEDED
  :margin-bottom 15px
  border-radius: 5px
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)

a#getubuntu
  :display block
  :overflow hidden
  :text-indent -9999px
  :background-image url(http://picomol.de/ubuntu-oneiric-counter/234.png)
  :height 60px
  :margin-bottom 15px
