---
filter: erb
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="Robots" content="index,follow" />
  <link rel="stylesheet" href="/css/purpleKarrot.css" type="text/css" />
  <title><%= @item[:title] %></title>
 </head>

 <body>
  <div id="wrap">
   <!-- a href="http://github.com/purpleKarrot"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a -->

<%= render 'header' %>

   <div id="content-wrap">
    <div id="content">

<%= render 'sidebar' %>

     <div id="main">

<%= yield %>

     </div>
    </div>
   </div>

<%= render 'footer' %>

  </div>

  <!-- disqus embed code -->
  <script type="text/javascript">
    //<![CDATA[
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
      }
      document.write('<sc' + 'ript charset="utf-8" type="text/javascript" src="http://disqus.com/forums/starrhorne/get_num_replies.js' + query + '"></' + 'script>');
      })();
  //]]>
  </script>

 </body>
</html>

