---
filter: erb
---
<div class="post">
  <div class="meta">
    <h2><a href="<%= url_for(@item) %>"><%= @item[:title] %></a></h2>
    <%= @item[:created_at] %> ( <a href="<%= url_for(@item) %>#disqus_thread"></a> )
  </div>
 
  <div class="post-body">
    <%= yield %>
  </div>
 
  <div class="post-footer">
    <a href="#add-comment">&gt; comment &lt; </a>
  </div>
</div>
 
<div class="comments">
  <!-- disqus embed code -->
  <script type="text/javascript">
  //<![CDATA[
    var disqus_developer = false;
  //]]>
  </script>
 
  <div id="disqus_thread"></div>
 
  <script type="text/javascript" src="http://disqus.com/forums/starrhorne/embed.js"></script> <noscript><a href="http://starrhorne.disqus.com/?url=ref">View the discussion thread.</a></noscript>
</div>
 
<a name="add-comment" />

