---
filter: erb
---
<div id="sidebar" >

 <div class="sidebox">	
  <h1>Search Box</h1>	
  <form action="#" class="searchform">
   <p>
    <input name="search_query" class="textbox" type="text" />
    <input name="search" class="button" value="Search" type="submit" />
   </p>			
  </form>			
 </div>

 <div class="sidebox">
  <h1>Short About</h1>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
   Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
   posuere nunc justo tempus leo.</p>	
 </div>			

 <div class="sidebox">	
  <h1 class="clear">Sidebar Menu</h1>
  <ul class="sidemenu">
   <li><a href="index.html" class="top">Home</a></li>
   <li><a href="#TemplateInfo">Template Info</a></li>
   <li><a href="#SampleTags">Sample Tags</a></li>
   <li><a href="http://www.styleshout.com/">More Templates...</a></li>
   <li><a href="http://www.4templates.com/?aff=ealigam">Premium Templates</a></li>					
  </ul>	
 </div>	

 <div class="sidebox">	
  <h1>Sponsors</h1>
  <ul class="sidemenu">
   <li><a href="http://www.dreamhost.com/r.cgi?287326" class="top">Dreamhost</a></li>
   <li><a href="http://www.4templates.com/?aff=ealigam">4templates</a></li>
   <li><a href="http://store.templatemonster.com/?aff=ealigam">TemplateMonster</a></li>	
   <li><a href="http://www.fotolia.com/partner/114283">Fotolia.com</a></li>									
   <li><a href="http://www.text-link-ads.com/?ref=40025">Text Link Ads</a></li> 		
  </ul>
 </div>

 <div class="sidebox">	
  <h1>Wise Words</h1>
   <p>&quot;No man can live happily who regards himself alone; 
   who turns everything to his own advantage. You must live for
   others if you wish to live for yourself.&quot;</p>					
   <p class="align-right">- Seneca</p>
  </div>		

 <div class="sidebox">
  <h1>Support Styleshout</h1>
   <p>If you are interested in supporting my work and would like to contribute, you are
   welcome to make a small donation through the 
   <a href="http://www.styleshout.com/">donate link</a> on my website - it will 
   be a great help and will surely be appreciated.</p>			
 </div>

</div>	
