<!DOCTYPE html>
<html lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{{ page.title }} · {{ site.title }}</title>
  <link rel="pingback" href="{{ site.pingback }}">
  <link rel="webmention" href="{{ site.webmention }}">
  <link rel="stylesheet" href="/poole.css">
  <link rel="stylesheet" href="/style.css">
  {% feed_meta %}
</head>
<body>
  <div class="masthead">
    <div class="container">
      <h3 class="masthead-title">
        <a href="/" title="Home">{{ site.title }}</a>
        <small>{{ site.tagline }}</small>
      </h3>
    </div>
  </div>
  <div class="container content">
{{ content }}
  </div>
  <div class="page-footer">
    <div class="container">
      <div class="copyright">Copyright © {{ site.copyright }} <strong>{{ site.author }}</strong></div>
      <div class="social">
        <a rel="me" href="{{ site.github }}">GitHub</a> ·
        <a rel="me" href="{{ site.linkedin }}">LinkedIn</a> ·
        <a rel="me" href="{{ site.xing }}">Xing</a>
      </div>
    </div>
  </div>
</body>
</html>
